<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives:__

 . List popular languages for Data Science
    
 . List popular Libraries for Data Science

 . Data Science Tools

## Introduction:

## Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. Julia
   4. SQL

## Some of the commonly used libraries used by Data Scientists include:
  1.TensorFlow
    
  2.NumPy

  3.SciPy
    
  4.Pandas

  5.Matplotlib
    
  6.Keras

  7.SciKit-Learn
    
  8.PyTorch

## Data Science Tools:


| Tool Name | Using       |
|-----------|-------------|
| Bower PI  | Creating Dash Boards|
|  KNIME    | data reporting, data analysis, and data mining|
|  Excel    | Data Analysis |

## This a simple arithmetic expression to mutiply then add integers

In [2]:
5*6

30

In [3]:
5+6

11

In [4]:
5*6+6

36

## Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(20+65)*6

510

## Convert Minutes To Hours:

In [14]:
 #This will convert 200 minutes to hours by diving by 60
 Minutes = 200
 Hours = 0
 
 lefted_Minutes= Minutes%60
 Hours = Minutes // 60

 print(str(Hours)+ " Hours , " +str(lefted_Minutes)+ " Minutes .")

3 Hours , 20 Minutes .

## Author's Name
 Salah El Dien